html, body {
    background-image: linear-gradient(to bottom right, #33ccff, #ff99cc);
}
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Calc-app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}
.Calc-key{
    width: calc(100vw / 4);
    height: calc(100vh / 6);
    border: none;
    /* margin: 1px; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;

}

.Calc-double-key{
    width: calc(100vw / 2);
    height: calc(100vh / 6);
    border: none;
    /* margin: 1px; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

.Calc-controls {
    display: flex;
}
.Calc-controls button{
    background: #007399;
}

.Calc-operators {
    display: flex;
    flex-direction: column;
}
    
.Calc-operators button {
    background: #ff3399;
}

.Calc-keypad {
    width: calc(100vw * .75);
}

.Calc-keypad button {
    background: #0099cc;
}

.Calc-display{
    width: 100vw;
    height: calc(100vh / 6);
    background:white;
    margin:1px;
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color:#004d66;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    overflow: hidden;
}

@media only screen and (min-width: 600px) {
    .Calc-app {
        width: 408px;
        height: 600px;
    }

    .Calc-key{
        width: 100px;
        height: 100px;
        margin: 1px;
        border: none;
    }

    .Calc-double-key{
        width: 202px;
        height: 100px;
        margin: 1px;
        border: none;
    }

    .Calc-keypad {
        width: 306px;
    }
}